.card {
  width: 600px;
  margin: 0 auto 30px auto;
  background: #f8f8f8;
  border-radius: 5px;
}

iframe {
  margin: 25px;
}

h3 {
  margin-top: 0;
}

h4 {
  font-size: 16px;
}

span {
  background: #cccccc;
  margin: 0 5px;
  border-radius: 2px;
}

.card-tags {
  width: 500px;
  margin: 20px auto;
}

.card-text {
  max-width: 500px;
  margin: auto;
  text-align: justify;
  text-indent: 25px;
}

.card-footer {
  margin-top: 20px;
  background: #cccccc;
}
