<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/home">Youtube Video</a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-2">
      <button class="btn btn-success btn-sm"
        *ngIf="!messagesService.isDisplayed"
        (click)="onDisplayMessages()">
          Show Messages
      </button>
      <router-outlet name="messages"></router-outlet>
    </div>
  </div>
</div>
